#logo { margin: 0.67rem 0.5rem 2rem; font-weight: 300; font-size: 3vw; }

hr { margin: 0.5rem 0; }

iframe#pdf-js-viewer { padding: 0.5rem; display: block; }

nav { width: 100%; height: auto; display: block; padding-bottom: 2vh; }

ul { list-style-type: none; }

nav li { display:  inline-block; text-align: center; padding: 5px 10px;  }

li { margin-bottom: 10px; }

body { font-family: "Merriweather Sans", "Helvetica Neue"; }

p { padding: 0 0.5rem; font-weight: 300; line-height: 1.0; font-size: 2vh; }

a { text-decoration: none; }

/*#grad { background: #43c6ac; background: -webkit-linear-gradient(to right, #b2e6fa, #e7eb80 10%); background: linear-gradient(to left, #e7eb80 10%, #b2e6fa); } */
#grad {background: #FFF; }

img { width: 100%; }

@media only screen and (max-width: 1150px) {

        p { padding: 0 0.5rem; font-weight: 300; line-height: 1.3; font-size: 1vw; }

        li { padding: 0 0.5rem; font-weight: 300; line-height: 1.2; font-size: 1vw; }

        #logo { margin: 0.67rem 0.5rem 2rem; font-weight: 300; font-size: 4vw; }

        body { font-family: "Merriweather Sans", "Helvetica Neue"; }

        @media only screen and (orientation : landscape) { li { padding: 0 0.5rem; font-weight: 300; line-height: 1.2; font-size: 1.5vw; } }
}

