
h1 { align: bottom; margin-top: 0; margin-bottom: 0; font-weight: 300; font-size: 3vmax; } 

hr { margin: 0.5rem 0; }

iframe#pdf-js-viewer { padding: 0.5rem; display: block; }

ul { list-style-type: none; }

nav li { display:  inline-block; text-align: center; padding: 5px 10px;  }

li { margin-bottom: 10px; font-weight: 300; line-height: 1.25; font-size: 1.5vmax; }

body { width: 100%; font-family: "Times New Roman", Times, serif; font-size: 1.5vmax; background: #fff; }

p { padding: 0 0.5rem; font-weight: 300; line-height: 1.25; font-size: 1.5vmax; }

nav { width: 100%; height: auto; display: block; padding-bottom: 2vh; font-size: 2vmax; }

img { align: center; max-width: 90%; height: auto; }

a { text-decoration: none; }

/*
@media only screen and (max-width: 1150px) {

	h1 { align: bottom; margin-top: 0; margin-bottom: 0; font-weight: 300; font-size: 3vmax; }

        p { padding: 0 0.5rem; font-weight: 300; line-height: 1.3; font-size: 3.5vmax; }

        li { padding: 0 0.5rem; font-weight: 300; line-height: 1.2; font-size: 3.5vmax; }

	body { font-family: "Times New Roman", Times, serif; font-size: 3.5vmax; }

        @media only screen and (orientation : landscape) { li { padding: 0 0.5rem; font-weight: 300; line-height: 1.2; font-size: 2.5vmax; } }

}
*/
